<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players</title>
</head>
<body>
    <h1>Teams</h1>
    <hr />

    <h2><%= teams[0].teamName +" "+ teams[0].teamPoints %> Players</h2>
    <ul>
        <% teams[0].players.forEach(player => { %>
            <li><%= player %></li>
        <% }); %>
    </ul>
    <hr />
    
    <h2><%= teams[1].teamName +" "+ teams[1].teamPoints %> Players</h2>
    <ul>
        <% teams[1].players.forEach(player => { %>
            <li><%= player %></li>
        <% }); %>
    </ul>

</body>
</html>