<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players</title>
</head>
<body>
    <h1>Players</h1>
    <hr />

    <h2>Team 1 Players</h2>
    <ul>
        <% players.team1Players.forEach(player => { %>
            <li><%= player %></li>
        <% }); %>
    </ul>
    <hr />

    <h2>Team 2 Players</h2>
    <ul>
        <% players.team2Players.forEach(player => { %>
            <li><%= player %></li>
        <% }); %>
    </ul>

</body>
</html>
